{% extends index.html %}

<!-- Get Messages Flashed -->
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<!-- End of Flash Messages Section -->

<!-- Shoppping Cart -->
<div id="shopping-cart">
    <div class="txt-heading">Shopping Cart</div>
    {% if 'cart_item' in session %}
        <a id="emptyButton" href="{{ url_for('.empty_cart') }}">Empty Cart</a>
        <table class="table-cart" cellpadding="10" cellspacing="1">
            <tbody>
                <tr>
                    <th style="text-align: left;">Name</th>
                    <th style="text-align: left;">Code</th>
                    <th style="text-align: right;" width="5%">Quantity</th>
                    <th style="text-align: right;" width="10%">Unit Price</th>
                    <th style="text-align: right;" width="10%">Price</th>
                    <th style="text-align: center;" width="5%">Remove</th>
                </tr>
                {% for key, val in session['cart_item'].items() %}
                    {% set quantity = session['cart_item'][key]['quantity'] %}
                    {% set price = session['cart_item'][key]['price'] %}
                    {% set item_price = session['cart_item'][key]['total_price'] %}
                    <tr>
                        <td><img src="/static/images/{{ session['cart_item'][key]['image'] }}" class="cart-item-image" />{{ session['cart_item'][key]['name'] }} </td>
                        <td>{{ session['cart_item'][key]['code'] }}</td>
                        <td style="text-align: right;">{{ quantity }}</td>
                        <td style="text-align: right;">{{ price }}</td>
                        <td style="text-align: right;">{{ item_price }}</td>
                        <td style="text-align: center;">
                            <a href="{{ url_for('.delete_product', code=session['cart_item'][key]['code']) }}" class="removeButton">
                                <img src="/static/images/#" alt="Remove Item" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" text-align="right">Total:</td>
                    <td text-align="right">{{ session['all_total_quantity'] }}</td>
                    <td text-align="right" colspan="2"><strong> {{ session['all_total_price'] }} </strong></td>
                </tr>
            </tbody>
        </table>
    {% else: %}
        <div class="no-record">Your Cart is Empty</div>
    {% endif %}
</div>
<!-- End Shopping Cart -->

<h2>Your Shopping Cart</h2>
{% if cart.count <= 0 %}
<h1>Your cart is empty</h1>
{% else %}
<div class="cart-gd">
    {% for item in cart.items %}
    <div class="cart-header" id="{{item.id}}">
        <a href="#" class="deleteItem" data-item-id="{{item.id}}"></a>
        <div class="cart-shelf-item">
            <div class="cart-item cyc">
                <img src="{{item.product.mainPhoto.url}}" class="img" alt="{{item.product.title}}">
            </div>
            <div class="item-info">
                <h3><a href=#>{{ item.product.title }}</a></h3>
                <div class="delivery">
                    <p><span>Unit price: $</span><span>{{ item.product.price }}</span></p>
                    <div class="clearfix"></div>
                        <p><span>Quantity: </span> <span>{{ item.quantity }}</span></p>
                    <div class="clearfix"></div>
                        <p><span>Total price: $</span><span>{{ item.total }}</span></p>
                    <div class="clearfix"></div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {% endfor %}
    <div style="margin-top: 50px";style="text-align: right">
        <a href="/confirm" class="confirm-button">Confirm Order</a>
    </div>
</div>
{% endif %}