<div class="container mt-5">
  <div class="row g-5">
    {% for item in res %}
    <div class="col-4">
      <div class="card">
        <img src="{{ item.image }}" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-text fw-bold font-monospace text-center">
            {{ item.title }}
          </h5>
          {% for text in item.nutrition.nutrients %}
          <p class="card-text">
            {{ text.title }} : {{ text.amount }} {{ text.unit }}
          </p>
          {% endfor %}
          <div class="d-flex justify-content-between">
            <button class="btn btn-secondary btn-lg" id="liveToastBtn" onclick="toast()">
              Add to Cart
            </button>

            <a href="https://www.epicurious.com/recipes/food/views/tarragon-shallot-egg-salad-sandwiches-107974" target="_blank">
              <button class="btn btn-info btn-lg" foodid="{{ item.id }}">
                More Info
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Fresh Bites</strong>
      <small>1 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Added To Cart!
    </div>
  </div>
</div>
    {% endfor %}
  </div>
</div>

